body{
    background-color:rgb(187, 128, 128);
}

.fundo{

    max-width: 800px;
    color: rgba(228, 133, 133, 0.512);
    display: inline-block;
    

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: rgb(102, 9, 74);
    background-color: rosybrown;
    border-radius: 15px;
    font-size: 30px;

  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    
  }
  
  button {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: rgb(251, 181, 194);
    color: rgb(57, 38, 38);
  }
  
  .task {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
}